.App {
  text-align: center;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}



.carousel-inner {
  scroll-behavior: smooth;

}

.griglia button{
  color: black !important;
  width: 5rem;   
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0, 0, 0, 0.029);
 
}

.griglia button:hover{
  background-color: rgba(0, 0, 0, 0.051); 
}



.carta:hover, .card:hover{
  cursor: pointer;
  z-index: 1;
  transform: scale(1.01);
  
}