.App {
  text-align: center;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.condizioniMeteo{
  width: 5rem;
}


.carta:hover{
  cursor: pointer;
  z-index: 1;
  transform: scale(1.01);
  
}